* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: Montserrat;
    background-color: #f2f2f2;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.servicios {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    width: calc(50% - 20px); 
    position: relative;
}

.servicios img {
    max-width: 200px;
    height: auto;
}


.tabla-horario {
    max-width: 600px;
    margin: 0 auto 40px;
    padding: 30px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th,
table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

table th {
    background-color: #333;
    color: #fff;
}

table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}


@media (max-width: 950px) {
    .servicios {
        width: 100%; 
    }

    .tabla-horario {
        max-width: 100%;
        margin: 20px;
        padding: 10px;
    }

    table th,
    table td {
        padding: 8px;
    }
}


